<!-- HTML Template for Playbook sheet description longtext -->
<div class="summary">
    <p style="text-align: center; font-size: 1.5em;"><em>Description.</em></p>
    </div>
    <section class="grid grid-3col">
    <div class="background">
    <h2 style="margin: 15px 0 10px;">BACKGROUND &amp; DETAILS</h2>
    <h3 style="border: none;">Species</h3>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Details</h3>
    <ul>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Demeanor</h3>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Background</h3>
    <p><strong>Where do you call home?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Why are you a vagabond?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Whom have you left behind?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Which faction have you served the most?</strong></p>
    <ul>
    <li>FactionName&nbsp;&mdash;&nbsp;<em>mark two prestige for approgriate group</em>.</li>
    </ul>
    <p><strong>With which faction have you earned a special enmity?</strong></p>
    <ul>
    <li>FactionName&nbsp;&mdash;&nbsp;<em>mark one notoriety for appropriate group</em>.</li>
    </ul>
    </div>
    <div class="traits">
    <h2 style="margin: 15px 0 10px;">STARTING TRAITS</h2>
    <h3 style="border: none;">Nature</h3>
    <p>Choose your nature:</p>
    <p>&nbsp;</p>
    <h3 style="border: none;">Drives</h3>
    <p>Choose two drives:</p>
    <p>&nbsp;</p>
    <h3 style="border: none;">Connections</h3>
    <p>Starting connections:</p>
    <p>&nbsp;</p>
    <h3 style="border: none;">Roguish Feats</h3>
    <p>Starting roguish feats:</p>
    <p>&nbsp;</p>
    </div>
    <div class="moves">
    <h2 style="margin: 15px 0 10px;">YOUR MOVES</h2>
    <h3 style="border: none;">Playbook Moves</h3>
    <p>Choose X playbook moves:</p>
    <p>&nbsp;</p>
    <h3 style="border: none;">Weapon Moves</h3>
    <p>Choose x weapon moves:</p>
    <p>&nbsp;</p>
    </div>
    </section>