<div class="summary">
    <p style="text-align: center; font-size: 1.5em;"><em>Description.</em></p>
    </div>
    <hr>
    <p><strong>Instructions:</strong> You can drag-and-drop into your character sheet any <span style="background: #DDD; border: 1px solid var(--color-border-dark-tertiary); border-radius: 2px; display: inline-block; padding: 1px 4px;"><img style="border: none; height: 14px; margin: 2px 0 -2px; width: 14px;" src="modules/root/styles/img/icons/suitcase.svg" alt=""> Item</span> you choose and it will automatically be assigned to its correct place. Everything else needs to be copy-pasted or input manually (this includes the background &amp; details, your stats, and the equipment starting value).</p>
    <hr>
    <section class="grid grid-3col">
    <div class="background" style="border-right: dashed 1px black; padding-right: 10px;">
    <h2 style="margin: 15px 0 10px;">BACKGROUND &amp; DETAILS</h2>
    <h3 style="border: none;">Species</h3>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Details</h3>
    <ul>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Demeanor</h3>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <hr>
    <h3 style="border: none;">Background</h3>
    <p><strong>Where do you call home?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Why are you a vagabond?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Whom have you left behind?</strong></p>
    <ul>
    <li>&nbsp;</li>
    </ul>
    <p><strong>Which faction have you served the most?</strong></p>
    <ul>
    <li>FactionName&nbsp;&mdash;&nbsp;<em>mark two prestige for approgriate group</em>.</li>
    </ul>
    <p><strong>With which faction have you earned a special enmity?</strong></p>
    <ul>
    <li>FactionName&nbsp;&mdash;&nbsp;<em>mark one notoriety for appropriate group</em>.</li>
    </ul>
    </div>
    <div class="attributes" style="border-right: dashed 1px black; padding-right: 10px;">
    <h2 style="margin: 15px 0 10px;">ATTRIBUTES &amp; TRAITS</h2>
    <h3 style="border: none;">Stats</h3>
    <p>Charm:</p>
    <p>Cunning</p>
    <p>Finesse</p>
    <p>Luck</p>
    <p>Might</p>
    <hr>
    <h3 style="border: none;">Nature</h3>
    <p>Choose your nature:</p>
    <p>&nbsp;</p>
    <hr>
    <h3 style="border: none;">Drives</h3>
    <p>Choose two drives:</p>
    <p>&nbsp;</p>
    <hr>
    <h3 style="border: none;">Connections</h3>
    <p>Starting connections:</p>
    <p>&nbsp;</p>
    <hr>
    <h3 style="border: none;">Roguish Feats</h3>
    <p>Starting roguish feats:</p>
    <p>&nbsp;</p>
    <hr>
    <h3 style="border: none;">Equipment</h3>
    <p>Starting Value:</p>
    </div>
    <div class="moves">
    <h2 style="margin: 15px 0 10px;">STARTING MOVES</h2>
    <h3 style="border: none;">Playbook Moves</h3>
    <p>Choose X playbook moves:</p>
    <p>&nbsp;</p>
    <hr>
    <h3 style="border: none;">Weapon Moves</h3>
    <p>Choose x weapon moves:</p>
    <p>&nbsp;</p>
    </div>
    </section>