/* Root CSS */

/* General Sheet Styles */

.pbta.sheet.actor:not(.npc) {
  min-width: 770px;
}

.pbta.sheet:is(.npc, .class) {
  max-width: 655px;
  min-width: 630px;
}

.pbta.sheet section.window-content {
  background-color: #F0EBD5;
  color: #23241b;
}

.pbta.sheet section.window-content::-webkit-scrollbar-thumb {
  background: #444635;
  border-color: #71745e;
}

.pbta.sheet.npc .sheet-tabs .item {
  margin: 0 5px -2px;
}

.pbta.sheet :is(.cell.cell--attributes-top, .cell.cell--attributes-left) label.cell__title {
  justify-content: center;
}

.pbta.sheet .cell.cell--attributes-top p.cell__description.cell__description--attr {
  text-align: center;
}

.pbta.sheet:not(.npc) .sheet-wrapper :is(.sheet-attributes-top, .sheet-attributes-top .cell--attributes-top .cell) {
  padding: 0;
}

.pbta.sheet .cell__title {
  color: #23241b;
  border-bottom-color: #23241b;
}

.pbta.sheet :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs {
  border-bottom-color: #23241b;
}

.pbta.sheet :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs a.item {
  background: #23241b;
  border-color: #23241b;
}

.pbta.sheet :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs a.item.active {
  background: #919382;
}

.pbta.sheet :is(section.sheet-main, form.item-form) nav.sheet-tabs.tabs a.item:hover {
  background: #fff;
}

/* Stat Styles and Animation */

.pbta.sheet .sheet-attributes .cell--stats .stat {
  background: #444635;
}

.pbta.sheet .sheet-attributes .cell--stats .stat:hover {
  background: #71745e;
}

@keyframes rollDice {
  0% {
    transform: translate(0px, 0px);
  }
  4% {
    transform: translate(0, -6px);
  }
  8% {
    transform: translate(3px, -6px);
  }
  12% {
    transform: translate(-3px, -6px);
  }
  16% {
    transform: translate(3px, -6px);
  }
  20% {
    transform: translate(-3px, -6px);
  }
  24% {
    transform: translate(3px, -6px);
  }
  28% {
    transform: translate(-3px, -6px);
  }
  32% {
    transform: translate(3px, -6px);
  }
  33% {
    transform: translate(-18px, 8px);
  }
  35% {
    transform: translate(-12px, 10px);
  }
  37% {
    transform: translate(-18px, 6px);
  }
  39% {
    transform: translate(-16px, 10px);
  }
  60% {
    transform: translate(-16px, 10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.pbta.sheet span.stat-icon.stat-rollable.rollable:hover .fa-dice-d6 {
  animation: rollDice 3s linear infinite;
}

/* Reputation */

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol {
  display: grid;
  grid-template-columns: repeat(38, 1fr);
  gap: 0;
  justify-items: center;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol label {
  color: #23241b;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol input {
  font-size: 13px;
  margin: 0;
  height: 22px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol input[type="checkbox"] {
  margin: 2px 1px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(1), label:nth-of-type(9), label:nth-of-type(17), label:nth-of-type(25), label:nth-of-type(33)) {
  grid-column: 1 / 8;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(2), label:nth-of-type(10), label:nth-of-type(18), label:nth-of-type(26), label:nth-of-type(34)) {
  grid-column: 8 / 12;
  flex-direction: row-reverse;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(3), label:nth-of-type(11), label:nth-of-type(19), label:nth-of-type(27), label:nth-of-type(35)) {
  grid-column: 12 / 16;
  flex-direction: row-reverse;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(4), label:nth-of-type(12), label:nth-of-type(20), label:nth-of-type(28), label:nth-of-type(36)) {
  grid-column: 16 / 20;
  flex-direction: row-reverse;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(5), label:nth-of-type(13), label:nth-of-type(21), label:nth-of-type(29), label:nth-of-type(37)) {
  grid-column: 20 / 21;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(6), label:nth-of-type(14), label:nth-of-type(22), label:nth-of-type(30), label:nth-of-type(38)) {
  grid-column: 21 / 27;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(7), label:nth-of-type(15), label:nth-of-type(23), label:nth-of-type(31), label:nth-of-type(39)) {
  grid-column: 27 / 33;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(label:nth-of-type(8), label:nth-of-type(16), label:nth-of-type(24), label:nth-of-type(32), label:nth-of-type(40)) {
  grid-column: 33 / 39;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol label:nth-of-type(41) {
  grid-column: 8 / 20;
  margin-top: 5px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol label:nth-of-type(42) {
  grid-column: 21 / 39;
  margin-top: 5px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.1.values.3.value"], input[name="system.attrTop.reputation.options.2.values.3.value"], input[name="system.attrTop.reputation.options.3.values.3.value"], input[name="system.attrTop.reputation.options.4.values.0.value"], input[name="system.attrTop.reputation.options.5.values.5.value"], input[name="system.attrTop.reputation.options.6.values.5.value"], input[name="system.attrTop.reputation.options.7.values.5.value"], input[name="system.attrTop.reputation.options.9.values.3.value"], input[name="system.attrTop.reputation.options.10.values.3.value"], input[name="system.attrTop.reputation.options.11.values.3.value"], input[name="system.attrTop.reputation.options.12.values.0.value"], input[name="system.attrTop.reputation.options.13.values.5.value"], input[name="system.attrTop.reputation.options.14.values.5.value"], input[name="system.attrTop.reputation.options.15.values.5.value"], input[name="system.attrTop.reputation.options.17.values.3.value"], input[name="system.attrTop.reputation.options.18.values.3.value"], input[name="system.attrTop.reputation.options.19.values.3.value"], input[name="system.attrTop.reputation.options.20.values.0.value"], input[name="system.attrTop.reputation.options.21.values.5.value"], input[name="system.attrTop.reputation.options.22.values.5.value"], input[name="system.attrTop.reputation.options.23.values.5.value"], input[name="system.attrTop.reputation.options.25.values.3.value"], input[name="system.attrTop.reputation.options.26.values.3.value"], input[name="system.attrTop.reputation.options.27.values.3.value"], input[name="system.attrTop.reputation.options.28.values.0.value"], input[name="system.attrTop.reputation.options.29.values.5.value"], input[name="system.attrTop.reputation.options.30.values.5.value"], input[name="system.attrTop.reputation.options.31.values.5.value"], input[name="system.attrTop.reputation.options.33.values.3.value"], input[name="system.attrTop.reputation.options.34.values.3.value"], input[name="system.attrTop.reputation.options.35.values.3.value"], input[name="system.attrTop.reputation.options.36.values.0.value"], input[name="system.attrTop.reputation.options.37.values.5.value"], input[name="system.attrTop.reputation.options.38.values.5.value"], input[name="system.attrTop.reputation.options.39.values.5.value"]) {
  appearance: none;
  background: none;
  border: none;
  position: absolute;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.1.values.3.value"], input[name="system.attrTop.reputation.options.2.values.3.value"], input[name="system.attrTop.reputation.options.3.values.3.value"], input[name="system.attrTop.reputation.options.9.values.3.value"], input[name="system.attrTop.reputation.options.10.values.3.value"], input[name="system.attrTop.reputation.options.11.values.3.value"], input[name="system.attrTop.reputation.options.17.values.3.value"], input[name="system.attrTop.reputation.options.18.values.3.value"], input[name="system.attrTop.reputation.options.19.values.3.value"], input[name="system.attrTop.reputation.options.25.values.3.value"], input[name="system.attrTop.reputation.options.26.values.3.value"], input[name="system.attrTop.reputation.options.27.values.3.value"], input[name="system.attrTop.reputation.options.33.values.3.value"], input[name="system.attrTop.reputation.options.34.values.3.value"], input[name="system.attrTop.reputation.options.35.values.3.value"], ) {
  transform: translateX(-65px);
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.1.values.2.value"], input[name="system.attrTop.reputation.options.2.values.2.value"], input[name="system.attrTop.reputation.options.3.values.2.value"], input[name="system.attrTop.reputation.options.9.values.2.value"], input[name="system.attrTop.reputation.options.10.values.2.value"], input[name="system.attrTop.reputation.options.11.values.2.value"], input[name="system.attrTop.reputation.options.17.values.2.value"], input[name="system.attrTop.reputation.options.18.values.2.value"], input[name="system.attrTop.reputation.options.19.values.2.value"], input[name="system.attrTop.reputation.options.25.values.2.value"], input[name="system.attrTop.reputation.options.26.values.2.value"], input[name="system.attrTop.reputation.options.27.values.2.value"], input[name="system.attrTop.reputation.options.33.values.2.value"], input[name="system.attrTop.reputation.options.34.values.2.value"], input[name="system.attrTop.reputation.options.35.values.2.value"], ) {
  margin-left: 5px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.5.values.5.value"], input[name="system.attrTop.reputation.options.6.values.5.value"], input[name="system.attrTop.reputation.options.7.values.5.value"], input[name="system.attrTop.reputation.options.13.values.5.value"], input[name="system.attrTop.reputation.options.14.values.5.value"], input[name="system.attrTop.reputation.options.15.values.5.value"], input[name="system.attrTop.reputation.options.21.values.5.value"], input[name="system.attrTop.reputation.options.22.values.5.value"], input[name="system.attrTop.reputation.options.23.values.5.value"], input[name="system.attrTop.reputation.options.29.values.5.value"], input[name="system.attrTop.reputation.options.30.values.5.value"], input[name="system.attrTop.reputation.options.31.values.5.value"], input[name="system.attrTop.reputation.options.37.values.5.value"], input[name="system.attrTop.reputation.options.38.values.5.value"], input[name="system.attrTop.reputation.options.39.values.5.value"]) {
  transform: translateX(109px);
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.5.values.4.value"], input[name="system.attrTop.reputation.options.6.values.4.value"], input[name="system.attrTop.reputation.options.7.values.4.value"], input[name="system.attrTop.reputation.options.13.values.4.value"], input[name="system.attrTop.reputation.options.14.values.4.value"], input[name="system.attrTop.reputation.options.15.values.4.value"], input[name="system.attrTop.reputation.options.21.values.4.value"], input[name="system.attrTop.reputation.options.22.values.4.value"], input[name="system.attrTop.reputation.options.23.values.4.value"], input[name="system.attrTop.reputation.options.29.values.4.value"], input[name="system.attrTop.reputation.options.30.values.4.value"], input[name="system.attrTop.reputation.options.31.values.4.value"], input[name="system.attrTop.reputation.options.37.values.4.value"], input[name="system.attrTop.reputation.options.38.values.4.value"], input[name="system.attrTop.reputation.options.39.values.4.value"]) {
  margin-right: 4px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.4.values.0.value"], input[name="system.attrTop.reputation.options.12.values.0.value"], input[name="system.attrTop.reputation.options.20.values.0.value"], input[name="system.attrTop.reputation.options.28.values.0.value"], input[name="system.attrTop.reputation.options.36.values.0.value"]) {
  transform: translateX(-3px);
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-top ul.cell__checkboxes.flexcol :is(input[name="system.attrTop.reputation.options.1.values.3.value"], input[name="system.attrTop.reputation.options.2.values.3.value"], input[name="system.attrTop.reputation.options.3.values.3.value"], input[name="system.attrTop.reputation.options.4.values.0.value"], input[name="system.attrTop.reputation.options.5.values.5.value"], input[name="system.attrTop.reputation.options.6.values.5.value"], input[name="system.attrTop.reputation.options.7.values.5.value"], input[name="system.attrTop.reputation.options.9.values.3.value"], input[name="system.attrTop.reputation.options.10.values.3.value"], input[name="system.attrTop.reputation.options.11.values.3.value"], input[name="system.attrTop.reputation.options.12.values.0.value"], input[name="system.attrTop.reputation.options.13.values.5.value"], input[name="system.attrTop.reputation.options.14.values.5.value"], input[name="system.attrTop.reputation.options.15.values.5.value"], input[name="system.attrTop.reputation.options.17.values.3.value"], input[name="system.attrTop.reputation.options.18.values.3.value"], input[name="system.attrTop.reputation.options.19.values.3.value"], input[name="system.attrTop.reputation.options.20.values.0.value"], input[name="system.attrTop.reputation.options.21.values.5.value"], input[name="system.attrTop.reputation.options.22.values.5.value"], input[name="system.attrTop.reputation.options.23.values.5.value"], input[name="system.attrTop.reputation.options.25.values.3.value"], input[name="system.attrTop.reputation.options.26.values.3.value"], input[name="system.attrTop.reputation.options.27.values.3.value"], input[name="system.attrTop.reputation.options.28.values.0.value"], input[name="system.attrTop.reputation.options.29.values.5.value"], input[name="system.attrTop.reputation.options.30.values.5.value"], input[name="system.attrTop.reputation.options.31.values.5.value"], input[name="system.attrTop.reputation.options.33.values.3.value"], input[name="system.attrTop.reputation.options.34.values.3.value"], input[name="system.attrTop.reputation.options.35.values.3.value"], input[name="system.attrTop.reputation.options.36.values.0.value"], input[name="system.attrTop.reputation.options.37.values.5.value"], input[name="system.attrTop.reputation.options.38.values.5.value"], input[name="system.attrTop.reputation.options.39.values.5.value"]):checked {
  border: 2.5px solid #D60000;
  border-radius: 50%;
  padding: 9px;
}

/* Injury, Exhaustion, Depletion */

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left .cell.cell--resource.cell--attr-resource.cell--ListMany label.cell__title {
  display: none;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left .cell.cell--resource.cell--attr-resource.cell--ListMany ul.cell__checkboxes.flexcol input.attr-list {
  margin: 3px -0.5px;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left .cell.cell--resource.cell--attr-resource.cell--ListMany {
  background: #E6DDB8;
  border: double 3px #B69D3F;
  border-radius: 2px;
  padding-left: 5px;
}

.pbta.sheet.actor:not(.npc) :is(input[name="system.attrLeft.resource.options.0.values.4.value"], input[name="system.attrLeft.resource.options.0.values.5.value"], input[name="system.attrLeft.resource.options.0.values.6.value"], input[name="system.attrLeft.resource.options.0.values.7.value"], input[name="system.attrLeft.resource.options.0.values.8.value"], input[name="system.attrLeft.resource.options.0.values.9.value"], input[name="system.attrLeft.resource.options.0.values.10.value"], input[name="system.attrLeft.resource.options.0.values.11.value"], input[name="system.attrLeft.resource.options.1.values.4.value"], input[name="system.attrLeft.resource.options.1.values.5.value"], input[name="system.attrLeft.resource.options.1.values.6.value"], input[name="system.attrLeft.resource.options.1.values.7.value"], input[name="system.attrLeft.resource.options.1.values.8.value"], input[name="system.attrLeft.resource.options.1.values.9.value"], input[name="system.attrLeft.resource.options.1.values.10.value"], input[name="system.attrLeft.resource.options.1.values.11.value"], input[name="system.attrLeft.resource.options.2.values.4.value"], input[name="system.attrLeft.resource.options.2.values.5.value"], input[name="system.attrLeft.resource.options.2.values.6.value"], input[name="system.attrLeft.resource.options.2.values.7.value"], input[name="system.attrLeft.resource.options.2.values.8.value"], input[name="system.attrLeft.resource.options.2.values.9.value"], input[name="system.attrLeft.resource.options.2.values.10.value"], input[name="system.attrLeft.resource.options.2.values.11.value"]) {
  display: none;
}

.pbta.sheet.actor:not(.npc) :is(input[name="system.attrLeft.resource.options.0.values.4.value"]:checked + input[name="system.attrLeft.resource.options.0.values.5.value"], input[name="system.attrLeft.resource.options.0.values.6.value"]:checked + input[name="system.attrLeft.resource.options.0.values.7.value"], input[name="system.attrLeft.resource.options.0.values.8.value"]:checked + input[name="system.attrLeft.resource.options.0.values.9.value"], input[name="system.attrLeft.resource.options.0.values.10.value"]:checked + input[name="system.attrLeft.resource.options.0.values.11.value"], input[name="system.attrLeft.resource.options.1.values.4.value"]:checked + input[name="system.attrLeft.resource.options.1.values.5.value"], input[name="system.attrLeft.resource.options.1.values.6.value"]:checked + input[name="system.attrLeft.resource.options.1.values.7.value"], input[name="system.attrLeft.resource.options.1.values.8.value"]:checked + input[name="system.attrLeft.resource.options.1.values.9.value"], input[name="system.attrLeft.resource.options.1.values.10.value"]:checked + input[name="system.attrLeft.resource.options.1.values.11.value"], input[name="system.attrLeft.resource.options.2.values.4.value"]:checked + input[name="system.attrLeft.resource.options.2.values.5.value"], input[name="system.attrLeft.resource.options.2.values.6.value"]:checked + input[name="system.attrLeft.resource.options.2.values.7.value"], input[name="system.attrLeft.resource.options.2.values.8.value"]:checked + input[name="system.attrLeft.resource.options.2.values.9.value"], input[name="system.attrLeft.resource.options.2.values.10.value"]:checked + input[name="system.attrLeft.resource.options.2.values.11.value"]) {
  display: inline;
}

/* Equipment & Load */

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left .cell.cell--startingvalue.cell--attr-startingvalue.cell--Number p.cell__description.cell__description--attr {
  color: #23241b;
  display: inline;
  font: 14px "Roboto Condensed", sans-serif;
  margin: 0 0 0 4px;
  padding-right: 0;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left :is(.cell.cell--carrying.cell--attr-carrying.cell--Number, .cell.cell--burdened.cell--attr-burdened.cell--Number, .cell.cell--max.cell--attr-max.cell--Number) label {
  border: none;
  color: #23241b;
  display: inline;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 4px;
  padding-right: 0;
}

.pbta.sheet.actor:not(.npc) .cell.cell--attributes-left :is(input[name="system.attrLeft.startingvalue.value"], input[name="system.attrLeft.carrying.value"], input[name="system.attrLeft.burdened.value"], input[name="system.attrLeft.max.value"]) {
  height: 22px;
  margin: 1px;
  padding: 0;
  width: 32px;
}

/* NEW STYLES @TODO refactoring */

.pbta.sheet.actor:not(.npc) .sheet-resources .cell.cell--forward {
  grid-column-start: 2;
}

:is(summary, .pointer):hover {
  cursor: pointer;
}

span.tag--mastery {
  background: #662D2C;
  border: 0.5px solid rgba(255, 255, 255, .05);
  color: #fff;
}

.pbta.sheet.actor:not(.npc) .sheet-resources .cell--roll-mode {
  border: none;
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.pbta.sheet.actor:not(.npc) .sheet-resources .cell--roll-mode label.cell__title {
  grid-column: span 3;
  margin: -4px 0 14px;
}

.pbta.sheet.actor:not(.npc) .sheet-header__fields {
  display: flex;
}

.pbta.sheet.actor:not(.npc) .sheet-header__fields i.fa-solid.fa-book {
  align-self: center;
  margin: 0 -5px 0 5px;
}

.pbta.sheet.item :is(input[name="flags.root.itemWear.box2"], input[name="flags.root.itemWear.box3"], input[name="flags.root.itemWear.box4"], input[name="flags.root.itemWear.box5"], input[name="flags.root.itemWear.box6"], input[name="flags.root.itemWear.box7"], input[name="flags.root.itemWear.box8"], input[name="flags.root.itemWear.addBox2"], input[name="flags.root.itemWear.addBox3"], input[name="flags.root.itemWear.addBox4"], input[name="flags.root.itemWear.addBox5"], input[name="flags.root.itemWear.addBox6"], input[name="flags.root.itemWear.addBox7"], input[name="flags.root.itemWear.addBox8"]) {
  display: none;
}

.pbta.sheet.item :is(input[name="flags.root.itemWear.addBox2"]:checked + input[name="flags.root.itemWear.box2"], input[name="flags.root.itemWear.addBox3"]:checked + input[name="flags.root.itemWear.box3"], input[name="flags.root.itemWear.addBox4"]:checked + input[name="flags.root.itemWear.box4"], input[name="flags.root.itemWear.addBox5"]:checked + input[name="flags.root.itemWear.box5"], input[name="flags.root.itemWear.addBox6"]:checked + input[name="flags.root.itemWear.box6"], input[name="flags.root.itemWear.addBox7"]:checked + input[name="flags.root.itemWear.box7"], input[name="flags.root.itemWear.addBox8"]:checked + input[name="flags.root.itemWear.box8"]) {
  display: inline;
}

.pbta.sheet :is(.fa-plus-square, .fa-minus-square):hover {
  cursor: pointer;
}

.pbta.sheet.actor:not(.npc) .cell.cell--resource .cell__checkboxes label.flexrow {
  display: block;
  margin-top: 3px;
}

.pbta.sheet.actor .cell.cell--resource .cell__checkboxes label.flexrow:is(:nth-of-type(2), :nth-of-type(3)) {
  margin-top: 5px;
}

.pbta.sheet.actor.npc :is(input[name="system.attrTop.injury.options.0.values.1.value"], input[name="system.attrTop.injury.options.0.values.2.value"], input[name="system.attrTop.injury.options.0.values.3.value"], input[name="system.attrTop.injury.options.0.values.4.value"], input[name="system.attrTop.injury.options.0.values.5.value"], input[name="system.attrTop.injury.options.0.values.6.value"], input[name="system.attrTop.injury.options.0.values.7.value"], input[name="system.attrTop.injury.options.0.values.8.value"], input[name="system.attrTop.injury.options.0.values.9.value"], input[name="system.attrTop.injury.options.0.values.10.value"], input[name="system.attrTop.injury.options.0.values.11.value"], input[name="system.attrTop.injury.options.0.values.12.value"], input[name="system.attrTop.injury.options.0.values.13.value"], input[name="system.attrTop.injury.options.0.values.14.value"], input[name="system.attrTop.injury.options.0.values.15.value"], input[name="system.attrTop.injury.options.0.values.16.value"], input[name="system.attrTop.injury.options.0.values.17.value"], input[name="system.attrTop.injury.options.0.values.18.value"], input[name="system.attrTop.injury.options.0.values.19.value"], input[name="system.attrTop.injury.options.0.values.20.value"], input[name="system.attrTop.injury.options.0.values.21.value"], input[name="system.attrTop.injury.options.0.values.22.value"], input[name="system.attrTop.exhaustion.options.0.values.1.value"], input[name="system.attrTop.exhaustion.options.0.values.2.value"], input[name="system.attrTop.exhaustion.options.0.values.3.value"], input[name="system.attrTop.exhaustion.options.0.values.4.value"], input[name="system.attrTop.exhaustion.options.0.values.5.value"], input[name="system.attrTop.exhaustion.options.0.values.6.value"], input[name="system.attrTop.exhaustion.options.0.values.7.value"], input[name="system.attrTop.exhaustion.options.0.values.8.value"], input[name="system.attrTop.exhaustion.options.0.values.9.value"], input[name="system.attrTop.exhaustion.options.0.values.10.value"], input[name="system.attrTop.exhaustion.options.0.values.11.value"], input[name="system.attrTop.exhaustion.options.0.values.12.value"], input[name="system.attrTop.exhaustion.options.0.values.13.value"], input[name="system.attrTop.exhaustion.options.0.values.14.value"], input[name="system.attrTop.exhaustion.options.0.values.15.value"], input[name="system.attrTop.exhaustion.options.0.values.16.value"], input[name="system.attrTop.exhaustion.options.0.values.17.value"], input[name="system.attrTop.exhaustion.options.0.values.18.value"], input[name="system.attrTop.exhaustion.options.0.values.19.value"], input[name="system.attrTop.exhaustion.options.0.values.20.value"], input[name="system.attrTop.exhaustion.options.0.values.21.value"], input[name="system.attrTop.exhaustion.options.0.values.22.value"], input[name="system.attrTop.wear.options.0.values.1.value"], input[name="system.attrTop.wear.options.0.values.2.value"], input[name="system.attrTop.wear.options.0.values.3.value"], input[name="system.attrTop.wear.options.0.values.4.value"], input[name="system.attrTop.wear.options.0.values.5.value"], input[name="system.attrTop.wear.options.0.values.6.value"], input[name="system.attrTop.wear.options.0.values.7.value"], input[name="system.attrTop.wear.options.0.values.8.value"], input[name="system.attrTop.wear.options.0.values.9.value"], input[name="system.attrTop.wear.options.0.values.10.value"], input[name="system.attrTop.wear.options.0.values.11.value"], input[name="system.attrTop.wear.options.0.values.12.value"], input[name="system.attrTop.wear.options.0.values.13.value"], input[name="system.attrTop.wear.options.0.values.14.value"], input[name="system.attrTop.wear.options.0.values.15.value"], input[name="system.attrTop.wear.options.0.values.16.value"], input[name="system.attrTop.wear.options.0.values.17.value"], input[name="system.attrTop.wear.options.0.values.18.value"], input[name="system.attrTop.wear.options.0.values.19.value"], input[name="system.attrTop.wear.options.0.values.20.value"], input[name="system.attrTop.wear.options.0.values.21.value"], input[name="system.attrTop.wear.options.0.values.22.value"], input[name="system.attrTop.morale.options.0.values.1.value"], input[name="system.attrTop.morale.options.0.values.2.value"], input[name="system.attrTop.morale.options.0.values.3.value"], input[name="system.attrTop.morale.options.0.values.4.value"], input[name="system.attrTop.morale.options.0.values.5.value"], input[name="system.attrTop.morale.options.0.values.6.value"], input[name="system.attrTop.morale.options.0.values.7.value"], input[name="system.attrTop.morale.options.0.values.8.value"], input[name="system.attrTop.morale.options.0.values.9.value"], input[name="system.attrTop.morale.options.0.values.10.value"], input[name="system.attrTop.morale.options.0.values.11.value"], input[name="system.attrTop.morale.options.0.values.12.value"], input[name="system.attrTop.morale.options.0.values.13.value"], input[name="system.attrTop.morale.options.0.values.14.value"], input[name="system.attrTop.morale.options.0.values.15.value"], input[name="system.attrTop.morale.options.0.values.16.value"], input[name="system.attrTop.morale.options.0.values.17.value"], input[name="system.attrTop.morale.options.0.values.18.value"], input[name="system.attrTop.morale.options.0.values.19.value"], input[name="system.attrTop.morale.options.0.values.20.value"], input[name="system.attrTop.morale.options.0.values.21.value"], input[name="system.attrTop.morale.options.0.values.22.value"]) {
  display: none;
}

.pbta.sheet.actor.npc :is(input[name="system.attrTop.injury.options.0.values.1.value"]:checked + input[name="system.attrTop.injury.options.0.values.2.value"], input[name="system.attrTop.injury.options.0.values.3.value"]:checked + input[name="system.attrTop.injury.options.0.values.4.value"], input[name="system.attrTop.injury.options.0.values.5.value"]:checked + input[name="system.attrTop.injury.options.0.values.6.value"], input[name="system.attrTop.injury.options.0.values.7.value"]:checked + input[name="system.attrTop.injury.options.0.values.8.value"], input[name="system.attrTop.injury.options.0.values.9.value"]:checked + input[name="system.attrTop.injury.options.0.values.10.value"], input[name="system.attrTop.injury.options.0.values.11.value"]:checked + input[name="system.attrTop.injury.options.0.values.12.value"], input[name="system.attrTop.injury.options.0.values.13.value"]:checked + input[name="system.attrTop.injury.options.0.values.14.value"], input[name="system.attrTop.injury.options.0.values.15.value"]:checked + input[name="system.attrTop.injury.options.0.values.16.value"], input[name="system.attrTop.injury.options.0.values.17.value"]:checked + input[name="system.attrTop.injury.options.0.values.18.value"], input[name="system.attrTop.injury.options.0.values.19.value"]:checked + input[name="system.attrTop.injury.options.0.values.20.value"], input[name="system.attrTop.injury.options.0.values.21.value"]:checked + input[name="system.attrTop.injury.options.0.values.22.value"], input[name="system.attrTop.exhaustion.options.0.values.1.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.2.value"], input[name="system.attrTop.exhaustion.options.0.values.3.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.4.value"], input[name="system.attrTop.exhaustion.options.0.values.5.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.6.value"], input[name="system.attrTop.exhaustion.options.0.values.7.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.8.value"], input[name="system.attrTop.exhaustion.options.0.values.9.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.10.value"], input[name="system.attrTop.exhaustion.options.0.values.11.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.12.value"], input[name="system.attrTop.exhaustion.options.0.values.13.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.14.value"], input[name="system.attrTop.exhaustion.options.0.values.15.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.16.value"], input[name="system.attrTop.exhaustion.options.0.values.17.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.18.value"], input[name="system.attrTop.exhaustion.options.0.values.19.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.20.value"], input[name="system.attrTop.exhaustion.options.0.values.21.value"]:checked + input[name="system.attrTop.exhaustion.options.0.values.22.value"], input[name="system.attrTop.wear.options.0.values.1.value"]:checked + input[name="system.attrTop.wear.options.0.values.2.value"], input[name="system.attrTop.wear.options.0.values.3.value"]:checked + input[name="system.attrTop.wear.options.0.values.4.value"], input[name="system.attrTop.wear.options.0.values.5.value"]:checked + input[name="system.attrTop.wear.options.0.values.6.value"], input[name="system.attrTop.wear.options.0.values.7.value"]:checked + input[name="system.attrTop.wear.options.0.values.8.value"], input[name="system.attrTop.wear.options.0.values.9.value"]:checked + input[name="system.attrTop.wear.options.0.values.10.value"], input[name="system.attrTop.wear.options.0.values.11.value"]:checked + input[name="system.attrTop.wear.options.0.values.12.value"], input[name="system.attrTop.wear.options.0.values.13.value"]:checked + input[name="system.attrTop.wear.options.0.values.14.value"], input[name="system.attrTop.wear.options.0.values.15.value"]:checked + input[name="system.attrTop.wear.options.0.values.16.value"], input[name="system.attrTop.wear.options.0.values.17.value"]:checked + input[name="system.attrTop.wear.options.0.values.18.value"], input[name="system.attrTop.wear.options.0.values.19.value"]:checked + input[name="system.attrTop.wear.options.0.values.20.value"], input[name="system.attrTop.wear.options.0.values.21.value"]:checked + input[name="system.attrTop.wear.options.0.values.22.value"], input[name="system.attrTop.morale.options.0.values.1.value"]:checked + input[name="system.attrTop.morale.options.0.values.2.value"], input[name="system.attrTop.morale.options.0.values.3.value"]:checked + input[name="system.attrTop.morale.options.0.values.4.value"], input[name="system.attrTop.morale.options.0.values.5.value"]:checked + input[name="system.attrTop.morale.options.0.values.6.value"], input[name="system.attrTop.morale.options.0.values.7.value"]:checked + input[name="system.attrTop.morale.options.0.values.8.value"], input[name="system.attrTop.morale.options.0.values.9.value"]:checked + input[name="system.attrTop.morale.options.0.values.10.value"], input[name="system.attrTop.morale.options.0.values.11.value"]:checked + input[name="system.attrTop.morale.options.0.values.12.value"], input[name="system.attrTop.morale.options.0.values.13.value"]:checked + input[name="system.attrTop.morale.options.0.values.14.value"], input[name="system.attrTop.morale.options.0.values.15.value"]:checked + input[name="system.attrTop.morale.options.0.values.16.value"], input[name="system.attrTop.morale.options.0.values.17.value"]:checked + input[name="system.attrTop.morale.options.0.values.18.value"], input[name="system.attrTop.morale.options.0.values.19.value"]:checked + input[name="system.attrTop.morale.options.0.values.20.value"], input[name="system.attrTop.morale.options.0.values.21.value"]:checked + input[name="system.attrTop.morale.options.0.values.22.value"])
 {
  display: inline;
}

.pbta.sheet.actor.npc i.npc.far {
  font-size: 0.8em;
  margin-left: 3px;
}

.pbta.sheet.actor span.tag:is(.tag--uses, .tag--quantity) {
  display: none;
}